/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nMrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nFrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nDrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nPrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nBrXw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nMrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nFrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nDrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nPrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nBrXw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nMrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nFrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nDrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nPrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nBrXw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*=====================CSS RESET START======================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=====================CSS RESET END======================*/
/*=====================COMMON STYLES START======================*/
*,
::before,
::after {
  box-sizing: border-box;
}
a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: #000000;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.logo-hover:hover {
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 0px 30px 54px -6px rgb(245 56 56 / 55%);
}
/*=====================COMMON STYLES END======================*/
/*=====================HEADER STYLES START======================*/
.header {
  padding-top: 45px;
  padding-bottom: 45px;
}
.navbar,
.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 157px;
}
.nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 5px;
  color: #4f5665;
}
.nav a:hover {
  text-shadow: 0.2px 0.2px 0px, -0.2px -0.2px 0px;
  color: #202336;
}
.nav > li:nth-child(n + 2) {
  margin-left: 35px;
}
.navbar > ul {
  margin-right: 119px;
}
.header-btn-sign-in {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
}
.header-btn-sign-in:hover {
  color: #f53855;
  transition: 0.3s;
}
.header-btn-sign-up {
  padding: 13px 45px;
  border: 1px solid #f53855;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  margin-left: 30px;
}
.header-btn-sign-up:hover {
  color: #0b132a;
  transition: 0.3s;
  background: #f53838;
  box-shadow: 0px 30px 54px -6px rgb(245 56 56 / 55%);
}
/*=====================HEADER STYLES END======================*/
/*=====================HERO STYLES START======================*/
.hero {
  padding-top: 43px;
  padding-bottom: 43px;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero-content {
  width: 550px;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 20px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 50px;
}
.hero-subtitle::after {
  margin-top: 20px;
  content: "";
  width: 30px;
  display: block;
  border-bottom: 2px solid #202336;
}
.hero-img {
  width: 611px;
  height: auto;
  position: absolute;
  right: -60px;
  bottom: -25px;
}
.header-btn-exp {
  font-weight: 700;
  padding: 18px 78px;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background: #f53838;
  border-radius: 10px;
}
.header-btn-exp:hover {
  color: #000000;
  transition: 0.3s;
  box-shadow: 0px 30px 54px -6px rgb(245 56 56 / 55%);
}
/*=====================HERO STYLES END======================*/
/*=====================statistics STYLES START======================*/
.statistics {
  padding-top: 130px;
  padding-bottom: 47px;
}
.statistics-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0px 106px 114px -6px rgb(13 16 37 / 7%);
}
.statistics-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 33px 0;
}
.statistics-box:not(:last-child) {
  border-right: 2px solid #eeeff2;
}
.statistics-content {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}
.statistics-number {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.statistics-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}
/*=====================statistics STYLES END======================*/
/*=====================functions STYLES START======================*/
.functions {
  padding-top: 47px;
  padding-bottom: 95px;
}
.functions-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.functions-img {
  width: 508px;
  height: auto;
  margin-right: 200px;
}
.functions-features {
  display: flex;
  flex-direction: column;
}
.functions-features > li {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.functions-features > li::after {
  content: "";
  background: url("../img/tick.svg") no-repeat 0 0 / cover;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.functions-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 20px;
}
.functions-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 20px;
}
/*=====================functions STYLES END======================*/
/*=====================plan STYLES START======================*/
.plan {
  padding-top: 155px;
  padding-bottom: 100px;
}
.plan-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.plan-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 20px;
}
.plan-subtitle {
  width: 530px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 60px;
}
.plan-package {
  display: flex;
  justify-content: space-between;
}
.plan-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 80px 70px 50px 70px;
}
.plan-box:hover {
  border: 2px solid #f53838;
}
.plan-img {
  width: 145px;
  height: auto;
  margin-bottom: 30px;
}
.plan-title-box {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
  text-align: center;
  margin-bottom: 25px;
}
.plan-package-box {
  margin-bottom: 30px;
}
.plan-blog-tik {
  flex-grow: 1;
  margin-bottom: 50px;
}
.plan-blog-tik > li {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 15px;
}
.plan-blog-tik > li::after {
  content: "";
  background: url("../img/tick-box.svg") no-repeat 0 0 / cover;
  width: 13px;
  height: 9px;
  margin-right: 25px;
}
.plan-title-box {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.plan-btn {
  padding: 13px 63px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 50px;
}
.plan-btn:hover {
  color: #fff;
  background: #f53838;
  border-radius: 50px;
  transition: 0.3s;
  box-shadow: 0px 30px 54px -6px rgb(245 56 56 / 55%);
}
/*=====================plan STYLES END======================*/
/*=====================Network guides STYLES START======================*/
.network {
  padding-top: 50px;
  padding-bottom: 25px;
}
.network-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 310px;
}
.network-title {
  width: 380px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}
.network-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  margin-bottom: 155px;
}
.network-img {
  width: 1060px;
  height: auto;
  margin-bottom: 80px;
}
.network-global {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .network-global > li{

  box-shadow: 0px 30px 54px -6px rgb(245 56 56 / 55%);
} */
.network-global img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
/*=====================Network guides STYLES END======================*/
/*=====================testimonials STYLES START======================*/
.customers {
  padding-top: 25px;
  padding-bottom: 25px;
}
.customers-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 310px;
}
.customers-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 25px;
}
.customers-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  margin-bottom: 60px;
}

.customer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.slider-img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}
.customer-inform {
  display: flex;
  flex-direction: column;
}
.customer-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
.customer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4f5665;
}
.customer-link:hover {
  text-decoration: underline;
}
.appraisal {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
  margin-left: 77px;
}
.appraisal::after {
  content: "";
  background: url("../img/appraisal.svg") no-repeat 0 0 / cover;
  width: 13px;
  height: 13px;
  margin-left: 12px;
}
.customer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #0b132a;
}
.customers-swiper .swiper-slide {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-bottom:  60px;
}
.customers-swiper .swiper-slide:hover {
  border: 2px solid #f53838;
}
.slider-bullet {
  display: inline-flex;
  margin-right: 23px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #DDE0E4;
}
.slider-active-bullet {
  border-radius: 10px;
  width: 45px;
  height: 15px;
  background: #F53838;
}
.slider-modules{
  display: flex;
  justify-content: space-between;
}
.slider-btn{
  margin-right: 150px;
}
.slider-button-prev {
  background: url("../img/left.svg") no-repeat 0 0 / cover;
  transform: scaleX(1);
  width: 60px;
  height: 60px;
  display: inline-flex;
  border-radius: 50%;
}
.slider-button-prev:hover {
  box-shadow: 0 0 10px #F53838;
}
.slider-button-next {
  background: url("../img/left.svg") no-repeat 0 0 / cover;
  transform: scaleX(-1);
  width: 60px;
  height: 60px;
  display: inline-flex;
  border-radius: 50%;
  margin-left: 20px;
}
.slider-button-next:hover {
  box-shadow: 0 0 10px #F53838;
}
/*=====================testimonials STYLES END======================*/
/*=====================trending STYLES START======================*/

/*=====================trending STYLES END======================*/
/*=====================FOOTER START======================*/

/*=====================FOOTER END======================*/
/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    padding: 0 15px;
  }
}
/* // XX-Small devices (portrait phones(iPhone5/5s/SE), equals to 320px) */
@media (max-width: 320px) {
}
